/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--font-family-bacis), sans-serif;
  font-variation-settings: var(--weight-basic-text);
  background-image: var(--bg-image);
  background-attachment: fixed;
  background-size: cover;
  justify-content: center;
  display: grid;
}

.header {
  border: 2px solid #000000;
  width: var(--width-block);
  margin-block: 100px;
  padding: clamp(7.625rem, 7.4489rem + 0.7512vw, 8.125rem)
    clamp(1rem, -1.3548rem + 10.0469vw, 7.6875rem);
  text-align: center;
  background-color: #ffffff;
  display: grid;
  gap: 20px;
}

.header__logo {
  font-family: var(--font-family-accent), sans-serif;
  font-weight: 400;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  text-transform: uppercase;
  text-decoration: none;
}

.header__title {
  font-family: var(--font-family-accent);
  font-weight: 400;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  text-transform: uppercase;
}

main {
  display: grid;
  gap: 50px;
}

.card {
  border: 2px solid #000000;
  background-color: #ffffff;
  width: var(--width-block);
  padding-block-end: 25px;
}

.without-title {
  display: grid;
  gap: 25px;
}

.card__title {
  font-family: inherit;
  font-weight: var(--weight-basic-text);
  font-size: 18px;
  padding: 4px 10px;
  font-weight: var(--weight-basic-title);
}

.card__block-image {
  position: relative;
}

.card__block-image::before {
  position: absolute;
  content: "</HTML>";
  color: #000000a6;
  font-size: 14px;
  font-family: var(--font-family-accent), sans-serif;
  top: 25px;
  right: 25px;
  mix-blend-mode: hard-light;
  text-shadow:
    -1px 0 var(--color-shadow-lable),
    0 1px var(--color-shadow-lable),
    1px 0 var(--color-shadow-lable),
    0 -1px var(--color-shadow-lable);
}

@supports (
  (text-stroke: 1px var(--color-shadow-lable)) or
    (-webkit-text-stroke: 1px var(--color-shadow-lable))
) {
  .card__block-image::before {
    -webkit-text-stroke: 1px var(--color-shadow-lable);
    text-stroke: 1px var(--color-shadow-lable);
    text-shadow: none;
  }
}

.card__image {
  block-size: 100%;
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  aspect-ratio: 1/1;
}

.card__block-text {
  display: grid;
  gap: 25px;
  padding-inline: 25px;
}

.card__text {
  font-family: var(--font-family-basic);
  font-weight: var(--weight-basic-text);
  font-size: 18px;
  line-height: 21px;
}

.card__block-button {
  justify-self: right;
  margin-inline-end: 25px;
  display: flex;
  align-items: center;
}

.card__icon-button {
  background-color: transparent;
  border: 2px solid transparent;
  cursor: pointer;
  transition: border 0.3s ease;
}

.card__icon-button:focus-visible {
  outline: none;
  border: 2px solid #000000;
  transition: border 0.3s ease;
}

.like-icon.is-liked .heart {
  animation: heart-animation 0.3s ease-in 0.1s;
  transform-origin: center;
}

.sparks {
  opacity: 0;
}

.like-icon.is-liked .sparks {
  animation: sparks-animation 0.3s ease-in 0.3s;
}

.contour {
  transition: fill linear 0.1s;
}

.like-icon.is-liked .contour {
  fill: var(--animation-fill-color);
  transition: fill linear 0.3s 0.06s;
}

.core {
  transition: fill linear 0.3s 0.03s;
}

.like-icon:hover .core {
  fill: var(--contour-heart);
  transition: fill linear 0.3s 0s;
}

.like-icon:active .core {
  fill: var(--animation-fill-color);
  transition: fill linear 0.3s 0s;
}

.like-icon.is-liked .core {
  fill: var(--animation-fill-color);
  transition: fill linear 0.3s 0s;
}

.main-body {
  transition: fill linear 0.3s;
}

.like-icon:hover .main-body {
  fill: var(--contour-heart);
  transition: fill linear 0.3s 0.05s;
}

.like-icon:active .main-body {
  fill: var(--animation-fill-color);
  transition: fill linear 0.3s 0.05s;
}

.like-icon.is-liked .main-body {
  fill: var(--animation-fill-color);
  transition: fill linear 0.3s 0.06s;
}

.card__like-button {
  font-family: var(--font-family-accent);
  font-weight: 400;
  font-size: 14px;
  line-height: 90%;
  background-color: transparent;
  border: 2px solid #000000;
  cursor: pointer;
  width: 130px;
  height: 38px;
}

.button {
  transition: box-shadow 0.3s ease;
  position: relative;
  overflow: hidden;
}

.button::before {
  content: "";
  position: absolute;
  transform: translateX(-100%);
  background-color: #000000;
  transition: 0.5s ease-in-out;
  inset: 0;
}

.button:hover::before {
  transform: translateX(0);
}

.button span,
.button .save_icon-floppy {
  mix-blend-mode: difference;
  z-index: 2;
  color: #ffffff;
  position: relative;
}

.button:focus-visible {
  outline: none;
  box-shadow: 2px 2px 0 0 #000000;
  transition: box-shadow 0.3s ease;
}

button::before:hover {
  transform: translateX(100%);
}

.section_window {
  margin-block-end: 100px;
}

@media (width >= 1024px) {
  .section_window__save {
    padding: 20px 20px;
  }
}

.save__button {
  background-color: transparent;
  border: none;
  display: grid;
  gap: 8px;
  padding: 0;
  cursor: pointer;
  background-color: #ffffff;
  border: 2px solid #000000;
  padding: 12px 20px;
  justify-self: center;
}

@media (width >= 1024px) {
  .save__button {
    display: flex;
    align-items: center;
  }
}

.save_icon-floppy {
  width: 2rem;
  justify-self: center;
}

@media (width >= 1024px) {
  .save_icon-floppy {
    width: 21px;
  }
}

.button__text {
  font-family: var(--font-family-accent);
  font-weight: 400;
  font-size: 14px;
  line-height: 90%;
}

.dialog_window {
  padding: 30px clamp(2.5rem, 2.7201rem + -0.939vw, 1.875rem);
  width: clamp(21.3125rem, 21.0484rem + 1.1268vw, 22.0625rem);
  justify-content: center;
}

.dialog_window[open] {
  display: grid;
  gap: 30px;
}

.dialog_window[open]::backdrop {
  background-color: rgb(0, 0, 0, 0.75);
}

.dialog_window div {
  display: grid;
  gap: 12px;
  grid-template-columns: min-content 1fr;
  align-items: center;
}

.dialog_window__button {
  background-color: transparent;
  border: 2px solid #000000;
  padding: 12.5px clamp(7.28125rem, 6.9291rem + 1.5023vw, 8.28125rem);
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.dialog_window__text {
  font-family: var(--font-family-accent);
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
}

.dialog_window__ok {
  font-family: var(--font-family-accent);
  font-weight: 400;
  font-size: 14px;
  line-height: 90%;
  text-transform: uppercase;
}

.dialog_window__icon-floppy {
  width: 39px;
}
