/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --font-family-basic: "Inter Variable";
  --font-family-accent: "PressStart2P";
  --weight-basic-text: 410;
  --weight-basic-title: 715;
  --bg-image:
    repeating-linear-gradient(90deg, #d3d3d3 0 2px, #d3d3d300 2px 4px),
    repeating-linear-gradient(180deg, #d3d3d3 0 2px, #d3d3d300 2px 4px),
    repeating-linear-gradient(180deg, #e7e7e7 0%, #e7e7e7 0.01%, #1a1a1a 100%);
  --width-block: clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.75rem);
  --color-shadow-lable: #e6e1e1a2;
  --contour-heart: #000000;
  --sparks-color: #ff0000;
  --animation-fill-color: #ff0000;
}
